<phpunit
        colors="true"
        backupGlobals="false"
        backupStaticAttributes="false"
        strict="false"
        verbose="true"
        bootstrap="../vendor/autoload.php"
        >

    <testsuites>
        <testsuite name="probate test suite">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name='REQUEST_METHOD' value='' />
        <server name='REMOTE_ADDR' value='' />
        <server name='REQUEST_URI' value='' />
        <server name='SERVER_NAME' value='localhost' />
        <server name='SERVER_PORT' value='80' />
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">../</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">.</directory>
        </blacklist>
    </filter>
</phpunit>